.App {
  text-align: center;
}
.card{
  width: 15rem;
}
.card:hover {
  transform: scale(1.05);
}
.card-img-top{
  background-color: #735273;
  width: 15rem;
}
.card-body{
  color: black;
  text-decoration: none;
  background-color: #dae0e6;
}
body{
  background: #aec3b3;
}